<h2><%= @store.name %></h2>

<table class="table">
  <p class="table_header">Store Index</p>
  <tr>
    <% @store.brands.each() do |brand|%>
    <td><%= brand.shoe_name%></td>
    <% end %>
  </tr>
</table>
<br>
<a href="/stores/<%= @store.id %>/edit"><span class="btn btn-primary">Edit</span></a>
<br>
<br>
<form class="form-inline" method="get" action="/">
  <button type="submit" class="btn btn-default" name="clear_btn">Home Page</button>
</form>
