<h1>Shoe Brands at Gary's Shoes</h1>

<h2>Add a new shoe brand</h2>

<form action="/brands/new" method="post">
  <label for="shoe_name">Shoe Brand Name</label>
  <input type="text" name="shoe_name">
  <br>
  <br>
  <label for="price">Shoe Brand Price</label>
  <input type="number" name="price">
  <br>
  <br>
  <button class="btn btn-warning" type="submit" name="add_button">Add!</button>
</form>
<br>
<table>
  <% @brands.each do |brand|%>
  <tr>
    <td><%= brand.shoe_name %></td>
    <td><%= brand.price %></td>
  </tr>
  <% end %>
</table>

<br>
<form class="form-inline" method="get" action="/">
  <button type="submit" class="btn btn-danger" name="clear_btn">Back</button>
</form>
