<h1>Visit your favorite Gary's Shoe store!</h1>
<h2>Hear about the latest shoe brands!</h2>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <p>Stores</p>
      <a href="/stores">View all stores</a>
      <br>
      <a href="/stores/new">Add a new stores</a>
      <br>
    </div>
    <div class="col-md-6">
      <p>Shoe Brands</p>
      <a href="/brands">View all brands</a>
      <br>
      <a href="/brands/add">Choose a new shoe brand</a>
      <br>
    </div>
  </div>
</div>
