<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Gary's Shoe Store</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="<%= url("/styles.css")%>" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h4>Gary's Shoes</h4>
        <h5>1016 W. Chicago Ave.</h5>
        <h5>Chicago, IL., 606051</h5>
        <h5>Ph: (773) 234 - 0298</h5>
      </div>
          <%= yield %>
    </div>
  </body>
</html>
