<h2>List of selected Gary's Shoe Stores</h2>
  <ul>
    <% @stores.each() do |store|%>
    <li><a href="/stores/<%= store.id %>"><%= store.name %></a></li>
    <% end %>
  </ul>
<br>
<form class="form-inline" method="get" action="/">
  <button type="submit" class="btn btn-danger" name="clear_btn">Back</button>
</form>
