.col-md-6 {
  text-align: center;
  margin: 0 auto;
}

.jumbotron {
  border: 7px solid pink;
  background-color: #edc9dc;
  color: white;
  height: 400px;
  font-size: 42pt;
}

table {
  width: 60%;
}

td {
  border: 1px solid orange;
  padding: 8px;

}

tr {
  border: 1px solid orange;
}

body {
  background-color: #eae8e9;
}

.container {
  width: 80%;
  font-size: 22pt;
}

img {
  border: 5px solid pink;
  height: 320px;
  float: right;
  padding: 5px;
}
