.col-md-6 {
  text-align: center;
  margin: 0 auto;
}

.jumbotron {
  background-color: red;
  color: white;
  height: 400px;
  font-size: 42pt;
}

td {
  border: 1px solid orange;
  padding: 8px;

}

tr {
  border: 1px solid orange;
}

body {
  background-color: #f2decb;
}

.container {
  width: 80%;
}

img {
    height: 320px;
    float: right;
    padding: 5px;
}
